.chatWindow {
  width: 50vw;
  height: 25vh;
  vertical-align: center;
}
.textArea {
  margin: 10px;

  width: 100;
  height: 50;
}

.messageArea {
  display: block;
  background-color: white;
  width: 50vw;
  height: 25vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
}

.botMessage {
  color: blue;
  font-size: 40px;
}

.userMessage {
  color: red;
  font-size: 40px;
}
