.chatWindow {
  width: 25vw;
  height: 25vh;
  vertical-align: center;
}

.messageArea {
  display: block;
  background-color: white;
  width: 25vw;
  height: 25vh;
  overflow: auto;
  overflow-x: hidden;
  overflow-anchor: none;
  font-family: 'Times New Roman';
}

.titleBarText {
  color: white;
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 16px;
}

.textArea {
  width: 25vw;
  height: 25vh;
}

.sendButton {
  height: 10vh;
  position: relative;
  left: 21vw;
}

.botUsername {
  color: blue;
  font-size: 16px;
  font-weight: bold;
  display: inline;
}

.userUsername {
  color: red;
  font-size: 16px;
  font-weight: bold;
  display: inline;
}

.botMessage {
  color: black;
  font-family: Verdana;
  font-size: 10px;
  display: inline;
}

.userMessage {
  color: purple;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  font-size: 14px;
  display: inline;
}
