.chatWindow {
  width: 20vw;
  height: 25vh;
  vertical-align: center;
  position: absolute;
  background-image: 
    url("/src/images/windows-xp-bliss-wide.jpeg")
}

.textArea {
  margin-top: 100px;
  width: 100;
  height: 50;
}

.messageArea {
  display: block;
  background-color: white;
  margin-top: 44px;
  margin-left: 13px;
  height: 140px;
  width: 580px;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;

  font-family: 'Times New Roman';
}

.inputText {
  width: 200px;
  height: 200px;
  padding-bottom: 100px;

}

.botUsername {
  color: blue;
  font-size: 16px;
  font-weight: bold;
  display: inline;
}

.userUsername {
  color: red;
  font-size: 16px;
  font-weight: bold;
  display: inline;
}

.botMessage {
  color: black;
  font-family: Verdana;
  font-size: 10px;
  display: inline;
}

.userMessage {
  color: purple;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  font-size: 14px;
  display: inline;
}
